<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50797373153-apm8hv4qfrnsh9okdadq9mu48hacpiv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50797373153-apm8hv4qfrnsh9okdadq9mu48hacpiv4</string>
	<key>API_KEY</key>
	<string>AIzaSyCVD-EEk3YZQLyOGY034-WzJR2ekTPTyBU</string>
	<key>GCM_SENDER_ID</key>
	<string>50797373153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicineReminder</string>
	<key>PROJECT_ID</key>
	<string>medicine-reminder-t</string>
	<key>STORAGE_BUCKET</key>
	<string>medicine-reminder-t.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50797373153:ios:7f1644390bdf22669cf9a0</string>
</dict>
</plist>